<div class="container">
  <div class="row">
      <div class="col-md-1">
      </div>
        <div class="col-md-6">
        <span></span><h1>welcome to
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <strong>Bookers　!!</strong></h1>
        <div class="col-md-3">
      </div>
    </div>
  <footer>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <p>CopyRight Infratop.inc</p>
      </div>
  </footer>
</div>